body {
  background: #fae3d9;
  font-family: "Karla", sans-serif;
}

a {
  color: #bbded6;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #61c0bf;
}
.container-weather-app {
  background: white;
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 20px 30px rgba(65, 50, 100, 0.08);
}
.search-input {
  background: #fae3d9;
  width: 50%;
  border: white;
  border-radius: 5px;
  padding: 5px 10px;
  line-height: 20px;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
  font-size: 18px;
}
.search-button {
  background: #bbded6;
  width: 20%;
  margin: 0 10px;
  border: white;
  border-radius: 5px;
  line-height: 20px;
  padding: 5px;
  box-shadow: 0 5px 10px rgba(65, 50, 100, 0.08);
  font-size: 18px;
}
.search-form {
  text-align: center;
}
header {
  border-bottom: 1px solid #fae3d9;
  padding: 20px;
}
footer {
  border-top: 1px solid #fae3d9;
  padding: 20px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
